header {
height:125px;
margin-bottom:10px;
}
.logo {
background-image:url(../img/logo.png);
background-repeat:no-repeat;
width:124px;
height:125px;
}
.logo:hover {
-webkit-animation-name:spin;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-webkit-animation-duration:20s;

-moz-animation-name:spin;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-moz-animation-duration:20s;

}
@-webkit-keyframes 
spin { from { -webkit-transform:rotate(0 deg); } to {-webkit-transform:rotate(360deg); } }

@-moz-keyframes 
spin { from { -moz-transform:rotate(0 deg); } to {-moz-transform:rotate(360deg); } }

.ganesh_logo {
position:absolute;
left:50px;
top:30px;
background-image:url(../img/ganesh_logo.png);
background-repeat:no-repeat;
width:67px;
height:65px;
}	

.header_text
{
background-image:url(../img/bluefox/logo.png);
background-repeat:no-repeat;
width:197px;
height:33px;
}

.subheader_text {
position:absolute;
right:-20px;
font-family: Brush Script MT, cursive,Arial ;
font-style: italic;
font-size: 18px;
font-weight: 300;
}
.social {
position: relative;
right: -221px;
top: 30px;
width: 107px;
height: 28px;
}
.twitter {
position:absolute;
background-image:url(../img/bluefox/twitter.png);
background-repeat:no-repeat;
right: 50px;
width: 37px;
height: 27px;
}
.facebook {
position:absolute;
background-image:url(../img/bluefox/facebook.png);
background-repeat:no-repeat;
width: 37px;
height: 27px;
right: 0px;
}
.rss {
position:absolute;
background-image:url(../img/bluefox/rss.png);
background-repeat:no-repeat;
width: 37px;
height: 27px;
right: -35px;
}

.aarti_menu_logo {
position:absolute;
background-image:url(../img/aarti_menu.png);
background-repeat:no-repeat;
width: 76px;
height: 70px;
}

.photo_menu_logo {
position:absolute;
background-image:url(../img/photo_menu.png);
background-repeat:no-repeat;
width: 76px;
height: 70px;
}

.temple_menu_logo {
position:absolute;
background-image:url(../img/temple_menu.png);
background-repeat:no-repeat;
width: 76px;
height: 70px;
}

.competition_menu_logo {
position:absolute;
background-image:url(../img/competitions_menu.png);
background-repeat:no-repeat;
width: 76px;
height: 70px;
}

.my_ganesha_menu_logo {
position:absolute;
background-image:url(../img/my_ganesha.png);
background-repeat:no-repeat;
width: 76px;
height: 70px;
}

nav a {
height:80px;
}
nav p{
position:absolute;
top:80px;
font-family: Verdana ;
font-size: 14px;
font-weight: 300;
}

.news_wrapper{

}

.news_box{
height:240px;
border:1px solid cyan;
}

.search_wrapper {
padding-top:10px;
padding-bottom:10px;
}

.search_box {
height:35px;
border:1px solid;
}

.photo_gallery {
height:600px;
}

.photo_thumb {
position:relative;
height:220px;
margin-bottom:20px;
}

.photo_thumb h3{
	color:white;
	position:absolute;
	font-size:16px;
	overflow:hidden;
	padding-left:5px;
}
.photo_thumb img{
opacity:0.90;
}
.photo_thumb img:hover{
opacity:1.0;
}

.white_mask_wrapper {
position:absolute;
width:auto;
color:white;
background-image:url(../img/whitebg.png);
background-repeat:repeat-x;
height:47px;
width:100%;
bottom:-1px;
}

.white_mask {
position:relative;
height:47px;
}
.white_mask .darshan {
position:absolute;
background-image:url(../img/darshan.png);
background-repeat:repeat-x;
left:11px;
bottom:8px;
width:23px;
height:32px;
}
.white_mask p{
position: absolute;
right: -11px;
font-size: 10px;
top: -5px;
}

.white_mask .modak {
position:absolute;
background-image:url(../img/modak.png);
background-repeat:repeat-x;
left:45px;
bottom:8px;
width:27px;
height:30px;
}

.white_mask .add_collection {
position:absolute;
background-image:url(../img/add_collection.png);
background-repeat:repeat-x;
right:13px;
bottom:8px;
width:26px;
height:29px;
}
ul#photo_gallery{
list-style-type:none;
}
#photo_gallery li {
margin:0;
padding:0;
float:left;
}