header {
height:125px;
margin-bottom:10px;
}
.logo {
display:inline-block;
background-image:url(../images/logo.png);
background-repeat:no-repeat;
width:124px;
height:125px;
-webkit-animation-name:spin;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-webkit-animation-duration:20s;

-moz-animation-name:spin;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-moz-animation-duration:20s;

}
@-webkit-keyframes 
spin { from { -webkit-transform:rotate(0 deg); } to {-webkit-transform:rotate(360deg); } }

@-moz-keyframes 
spin { from { -moz-transform:rotate(0 deg); } to {-moz-transform:rotate(360deg); } }

.ganesh_logo {
position:absolute;
left:31px;
top:30px;
background-image:url(../images/ganesh_logo.png);
background-repeat:no-repeat;
width:67px;
height:65px;
}	

.header_text
{
background-image:url(../images/bluefox/logo.png);
background-repeat:no-repeat;
width:197px;
height:33px;
margin-top:15px;
margin-bottom:10px;
}

.subheader_text {
position:absolute;
right:-20px;
font-family: Brush Script MT, cursive,Arial ;
font-style: italic;
font-size: 18px;
font-weight: 300;
}
.social {
position: relative;
right: 0;
top: 30px;
height: 28px;
}
.twitter {
position:absolute;
background-image:url(../images/bluefox/twitter.png);
background-repeat:no-repeat;
right: 50px;
width: 37px;
height: 27px;
}
.twitter:hover {
position:absolute;
background-image:url(../images/bluefox/twitter.png);
}
.facebook {
position:absolute;
background-image:url(../images/bluefox/facebook.png);
background-repeat:no-repeat;
width: 37px;
height: 27px;
right: 0px;
}
.facebook:hover {
background-image:url(../images/bluefox/facebook.png);
}
.rss {
position:absolute;
background-image:url(../images/bluefox/rss.png);
background-repeat:no-repeat;
width: 37px;
height: 27px;
right: -35px;
}
.rss:hover {
background-image:url(../images/bluefox/rss.png);
}
.aarti_menu_logo {
position:absolute;
background-image:url(../images/aarti_menu_hover.png);
background-repeat:no-repeat;
width: 76px;
height: 70px;
left:-14px;
}
.aarti_menu_logo:hover {
background-image:url(../images/aarti_menu_hover.png);
}
.photo_menu_logo {
position:absolute;
background-image:url(../images/photo_menu_hover.png);
background-repeat:no-repeat;
width: 76px;
height: 70px;
left:78px;
}
.photo_menu_logo:hover{
background-image:url(../images/photo_menu_hover.png);
}
.temple_menu_logo {
position:absolute;
background-image:url(../images/temple_menu_hover.png);
background-repeat:no-repeat;
width: 76px;
height: 70px;
}
.temple_menu_logo:hover {
position:absolute;
background-image:url(../images/temple_menu_hover.png);
background-repeat:no-repeat;
width: 76px;
height: 70px;
}
.competition_menu_logo {
position:absolute;
background-image:url(../images/competitions2_menu.png);
background-repeat:no-repeat;
width: 86px;
height: 51px;
top:12px;
}
.competition_menu_logo:hover {
background-image:url(../images/competitions2_menu.png);
}
.recipies_menu_logo {
position:absolute;
background-image:url(../images/recipie_menu_hover2.png);
background-repeat:no-repeat;
width: 86px;
height: 51px;
top:12px;
left:340px;
}
.recipies_menu_logo:hover{
background-image:url(../images/recipie_menu_hover2.png);
}

.my_ganesha_menu_logo {
position:absolute;
background-image:url(../images/my_ganesha_menu_hover2.png);
background-repeat:no-repeat;
width: 76px;
height: 70px;
left:425px;
top:3px;
}
.my_ganesha_menu_logo:hover {
background-image:url(../images/my_ganesha_menu_hover2.png);
}

nav a {
height:80px;
}
nav p {
position:absolute;
top:80px;
font-family: Verdana ;
font-size: 14px;
font-weight: 300;
}
nav p:hover {
color:#0066EE;
}

#news_box {
margin-bottom:10px;
}
.buttons,.button_1 {
    background-color: #0066EE;
    height: 30px;
    margin:2px;
    border: none;
    font-size:16px;
    color: white;
}
/*
.upload_btn {
position:absolute;
right:17px;
top:40px;
display: block;
width: 105px;
padding: 7px 0;
text-align: center;
border-bottom: 1px solid #DDD;
color: #FFF;
font-weight:400;
font-size:16px;
}
*/
.upload_btn {

    display: block;
    /*or inline-block*/
    width: 100%;
    padding: 7px 0;
    text-align: center;
    color: #FFF;
    font-weight:400;
    font-size:16px;
}

.photo_gallery {
height:600px;
}

.photo_thumb {
position:relative;
margin:10px;
}

.photo_thumb h3{
	color:white;
	position:absolute;
	font-size:16px;
	overflow:hidden;
	padding-left:5px;
}
.photo_thumb img{
opacity:0.90;
}
.photo_thumb img:hover{
opacity:1.0;
}

.white_mask_wrapper {
position:absolute;
width:auto;
color:white;
background-image:url(../images/whitebg.png);
background-repeat:repeat-x;
height:47px;
width:100%;
bottom:-1px;
}

.white_mask {
position:relative;
height:47px;
}
.white_mask .darshan {
position:absolute;
background-image:url(../images/darshan.png);
background-repeat:repeat-x;
left:5px;
bottom:4px;
width:23px;
height:32px;
}
.white_mask p{
position: absolute;
right: -11px;
font-size: 10px;
top: -5px;
}

.white_mask .modak {
position:absolute;
background-image:url(../images/modak.png);
background-repeat:repeat-x;
left:45px;
bottom:4px;
width:27px;
height:30px;
}

.white_mask .add_collection {
position:absolute;
background-image:url(../images/add_collection.png);
background-repeat:repeat-x;
right:4px;
bottom:4px;
width:26px;
height:29px;
}
ul#photo_gallery{
list-style-type:none;
}
#photo_gallery li {
margin:0;
padding:0;
float:left;
}

.errorMessage {
    color: #f00;
}

#authentication-wrapper {
    //display:none;
}

#authentication h1{
    color: #8bc9ee;
    text-align: center;
}

#register {
    width: 300px;
    padding: 10px 10px 10px 10px;
    float:left;
    border-right:2px solid #808080;
}

#login {
    padding: 10px 10px 10px 10px;
    float:left;
}

label {
    display: block;
    color: #0090E6;
}

input[type="text"], input[type="password"] {
    padding: 5px;
    border: 1px solid #8BC9EE;
    font-size: 18px;
}
.user_space {
    position: fixed;
    right: 5px;
    background-color: #8BC9EE;
    padding: 10px;
    color: white;
    z-index: 999;
    top: 5px;
}

.user_space h2{
    font-size:14px;
    margin:0;
    padding:0;
}
.user_space .us_details {
    display: none;
}

.user_space .us_details a{
    display:block;
    text-align: right;
}

/************* Styling for comments ***********/
#comments {
    height:600px;
    width:260px;
    float:right;
}
#comments textarea{
    width: 100%;
}
.single_comment{
    margin-bottom:10px;
    width:260px;
}
.single_comment h3{
    display: inline;
    font-size:14px;
}
.single_comment .comment_date{
    color:#444444;
    font-size:12px;
    display: inline;
}
.single_comment p {
    margin:0px;
    width: 250px;
}

/********************* Sidebars ************************/
#lt_sidebar,#rt_sidebar {
    min-height: 300px;
    background-color: #f5f5f5;
}
#rt_sidebar {

}

/********************** Summary Boxes ********************/
#mid_pane_wrapper{
height:182px;
}
#mid_pane_wrapper div.grid_4 {
}

/********************** Upload Button *********************/
.qq-upload-button {
    width:100%;
}

.tab{
background-color : #8BC9EE;
font-size : 16px;
font-weight: bold;
border : 1px solid #000000;
}

.title_head{
font-weight : bold;
font-size: 14px;
text-align : center;
height: 18px;
margin-bottom: 5px;
}

.cont-disp{
border-bottom: 1px dotted #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}
.like{
    text-decoration: none;
}
.like:hover{
    text-decoration: underline;
}

/**************** Menu Bar Styling **********/

#lt_sidebar ul{
    list-style-type: none;
    margin: 0px;
    display: block;
    height: 468px;
    overflow-y: hidden;
}
#lt_sidebar li{
    margin: 0px;
    height:80px;
    border-bottom: 2px solid white;
    background-color: #8BC9EE;
}

#lt_sidebar a{
    text-decoration: none;
    cursor: pointer;
    display: block;
    overflow: hidden;
    color: white;
    padding: 5px 0 0 5px;
    font-size: 14px;
    font-family: Verdana;
    font-weight: 700;
    text-shadow:  0px 0px 4px rgba(0, 255, 224, 1);
    height:100%;
}
.selected_menu {
    height:220px;
}
.atharvashirsha_menu {
    background-image: url(../images/ganesh.png);
}
.mantrapushpanjali_menu {
    background-image: url(../images/mantras_menu.png);
}

.uttarpooja_menu {
    background-image: url(../images/uttarpooja_menu.png);
}
.aarti_sidemenu {
    background-image: url(../images/aarti_sidemenu.png);
}