.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.pt5{padding-top:5px;}
.pl5{padding-left:5px;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.ptb10{padding:10px 0;}
.ml40{margin-left:40px;}
.mb20{margin-bottom:20px}
.mt25{margin-top: 25px;}
.logo{text-align:center;}
.menu-item{text-decoration:none;color: #666666;}
.menu{display:block;}
.menu li{list-style-type:none;display:inline-block;}
.aarti{ background: url("../img/menu-sprite.png") no-repeat scroll 0 0 transparent;height: 40px;width: 50px;}
.photo{ background: url("../img/menu-sprite.png") no-repeat scroll -55px 0 transparent;height: 40px;width: 45px;}
.temple{ background: url("../img/menu-sprite.png") no-repeat scroll -105px 0 transparent;height: 40px;width: 45px;}
.compi{ background: url("../img/menu-sprite.png") no-repeat scroll -155px 0 transparent;height: 40px;width: 45px;}
.recipe{ background: url("../img/menu-sprite.png") no-repeat scroll -205px 0 transparent;height: 40px;width: 48px;}
.myganesha{ background: url("../img/menu-sprite.png") no-repeat scroll -255px 0 transparent;height: 40px;width: 45px;}

.aarti:hover{background: url("../img/menu-sprite.png") no-repeat scroll 0 -48px transparent;height: 40px;width: 50px;cursor: pointer;}
.photo:hover{ background: url("../img/menu-sprite.png") no-repeat scroll -55px -48px transparent;height: 40px;width: 45px;cursor: pointer;}
.temple:hover{ background: url("../img/menu-sprite.png") no-repeat scroll -105px -48px transparent;height: 40px;width: 45px;cursor: pointer;}
.compi:hover{ background: url("../img/menu-sprite.png") no-repeat scroll -155px -46px transparent;height: 40px;width: 45px;cursor: pointer;}
.recipe:hover{ background: url("../img/menu-sprite.png") no-repeat scroll -205px -41px transparent;height: 40px;width: 48px;cursor: pointer;}
.myganesha:hover{ background: url("../img/menu-sprite.png") no-repeat scroll -255px -43px transparent;height: 40px;width: 45px;cursor: pointer;}
.reg-log{width:150px;height:43px;background-color:#cccccc;}
.in-log{padding-left:5px;padding-top:5px;}
.logtext{padding:12px;}
.logtextclr{color:#666666;}
.menu-single{padding:0 10px;}
.tac{font-size: 14px;font-weight: bold;text-align: center;}
.fbsoc{background: url(../img/social-sprite.png) no-repeat 0 0;height:16px;width: 16px;padding-right: 10px;cursor: pointer;}
.twitsoc{background: url(../img/social-sprite.png) no-repeat -28px 0; height:16px;width: 16px;padding-right: 10px;cursor: pointer;}
.pinsoc{background: url(../img/social-sprite.png) no-repeat -56px 0; height:16px;width: 16px;padding-right: 10px;cursor: pointer;}
.glsoc{background: url(../img/social-sprite.png) no-repeat -84px 0; height:16px;width: 16px;padding-right: 10px;cursor: pointer;}
.ytsoc{background: url(../img/social-sprite.png) no-repeat -112px 0; height:16px;width: 16px;padding-right: 10px;cursor: pointer;}
.dbsoc{background: url(../img/social-sprite.png) no-repeat -140px 0; height:16px;width: 16px;padding-right: 10px;cursor: pointer;}
.rsssoc{background: url(../img/social-sprite.png) no-repeat -168px 0; height:16px;width: 16px;cursor: pointer;}
.title-bar{background: #666666;color:#ffffff;padding:5px;margin-bottom:10px;text-shadow: 0px 0px 0px #FDFDFD;font-size: 14px;}
.each-ent{background-color:#f1f1f1;border:1px solid #b1b1b1;margin:5px 0;}
.each-img{padding:5px;}
.head-cont{color:#444444;font-size:16px;}
.addr-cont{color:#444444;font-size:12px;}
.view-photo{font-size:12px;color:#444444 !important;}
.grid-gal{background-color:#e1e1e1;width:100%;height:268px;overflow-y:scroll;border:1px solid #cccccc;}

.am-wrapper{
	float:left;
	position:relative;
	overflow:hidden;
}
.am-wrapper img{
	position:absolute;
	outline:none;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
 
    width: 100%;	
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
width: 100% !important;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {

width: 100%;

}

.inv-cont{padding:0 10px 10px 10px;border-bottom:2px solid #8f8f8f;color:#666666;width:85%;}
.conn-fb{background-color:#3b579d;padding:2px;color:#ffffff;text-align:center;width:50%;cursor:pointer;}
.conn-gm{background-color:#e2303c;padding:2px;color:#ffffff;text-align:center;width:50%;}
.inv-but{background-color:#999999;padding:5px 30px;margin-right:20px;color:#ffffff;font-weight:bold;font-size:14px;cursor:pointer;}
.newshead{color: #7d7d7d;font-size: 14px;font-weight: bold;}
.each-news{background-color: #ffffff;border: 1px solid #e9e9e9;margin: 5px 0 5px 33px;position: relative;}
.newsimg{ background-color: #FFFFFF;border: 1px solid #DDDDDD;left: -33px;margin: 24px 0px;padding: 2px;position: absolute;}
.newscont{padding: 15px 5px 15px 50px;width:75%;}
.newsmore{color:#dadada;border:1px solid #ebebeb;padding:30px 2px;margin: 10px;padding: 40px 5px;cursor:pointer;}
.fat-footer{background-color: #666666;position: relative;}
.thin-footer{font-size: 14px;text-align: center;color: #737373;height: 65px;}
.foothead{color:#999999;background-color:#333333;padding:5px;margin:15px auto;text-align:center;width:50%;}
.each-soc{border-bottom:1px solid #8f8f8f;color:#f7f7f7;padding:5px 0;margin-bottom:10px;}
.each-soc-last a{color:#f7f7f7;padding:5px 0;margin-bottom:10px;}
.each-soc a{color:#f7f7f7;}
.each-site{border-bottom:1px solid #8f8f8f;color:#f7f7f7;padding:8px 0;margin-bottom:8px;}
.each-site a{color:#f7f7f7;}
.each-site-last{color:#f7f7f7;padding:8px 0;margin-bottom:8px;}
.each-site-last a{color:#f7f7f7;}
.ombg{background: url(../img/om.png) no-repeat; height:16px; width:16px;}
.footer-image{ background: url(../img/footer-ganesha.png) no-repeat; height:290px;width:231px;top:30px;position: absolute;right: -20px;}
.daily-text{color:#ffffff;font-size:14px;font-weight:bold;margin:40px 0 10px;}
.foot-logo{color:#ff6633;font-size:24px;font-weight:bold;}
.footer-link{color:#b7b7b7;}
.footer-link a{color:#ffffff;}
.getbox{background-color: #B5B5B5;color: #FFFFFF;font-size: 14px;font-weight: bold;margin: 0 auto;padding: 5px 20px;width: 45px;cursor:pointer}
/*photgallery */
#container{
	margin:0 auto;
	margin-top:20px;

}
.pin{
	width: 192px;
	padding: 15px 15px 0;
	font-size: 11px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	margin:0px 10px 20px;
}

.small-pin{
	width: 96px;
	padding: 5px;
	font-size: 11px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	margin:5px;
}

.description{
	padding-top:5px;
	color: #A0A0A0;
}
.convo{
	margin: 0 -15px;
padding: 10px 15px;
background-color: #F2F0F0;
color: #8C7E7E;
}
.convo img {
width: 30px;
height: 30px;
float:left;
margin-right:5px;
}
.convo p a{
	color: #8C7E7E;
	font-weight:bold;
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


.facebook_connect {
    background-image: url("../img/facebook_connect.png");
    background-repeat: no-repeat;
    display: block;
    height: 28px;
    width: 203px;
}

.qq-upload-button {
    background: none repeat scroll 0 0 #b23f22;
    border-bottom: 1px solid #DDDDDD;
    color: #FFFFFF;
    display: block;
    padding: 7px 0;
    text-align: center;
    width: 100%;
	margin-top:10px;
}

.qq-upload-list {
    list-style: disc outside none;
    margin: 0;
    padding: 0;
}

.comments-pg{
	margin-top:20px;
	width:100%;
	background-color:#cccccc;
	padding:10px;
}

.lvrpl{
font-weight:bold;
font-size:14px;
margin-bottom:5px;
}

.fnt24{
font-size:24px;
}

.blog-content{
margin:15px 0;
}

.blogs{
border-bottom:1px solid #cccccc;
margin-bottom:10px;
padding:10px 0;
}

#authentication h1{
    color: #8bc9ee;
    text-align: center;
}

#register {
    width: 250px;
    padding: 10px 10px 10px 10px;
    float:left;
    border-right:2px solid #808080;
}

#login {
	width: 250px;
    padding: 10px 10px 10px 20px;
    float:left;
}

.us_logged{
font-size:20px;
padding-bottom:5px;
font-weight:bold;
}

.cont-disp{
border-bottom:1px solid #CCCCCC;
margin:10px;
}

.am-container{

}

#small-pin-container{
margin:0 auto;
}

.photo-more{
 border: 1px solid #CCCCCC;
 width:100%;
 height:400px;
 overflow-y:scroll;
}

.home-grid{
overflow:hidden;
height:268px;
}


.caption {
	text-align:center;
    margin-top:10px;
    font-size: 18px;
    color: #A0A0A0;
    font-family: Verdana;
}

.photo_uploader_name
{
    color:#00a0F0;
	font-size:14px;
}

div.star-rating, div.star-rating a 
{
background-image: url("../img/modaks2.gif");
width:25px;
height:25px;
}

div.star-rating-hover a{
background-position:0 -50px
}

div.star-rating-on a{
background-position:0 -25px!important
}

.top-widget{
border:1px solid #CCCCCC;
padding:1px 2px;
}

.side-menu{
margin:0 5px;
padding:3px;
border-bottom:1px solid #CCCCCC;
}



.white_mask_wrapper {
position:absolute;
width:auto;
color:white;
background-image:url(../img/whitebg.png);
background-repeat:repeat-x;
height:40px;
width:87%;
}

.white_mask {
position:relative;
height:40px;
}
.white_mask .darshan {
position:absolute;
background-image:url(../img/darshan.png);
background-repeat:repeat-x;
left:5px;
bottom:4px;
width:23px;
height:32px;
}
.white_mask p{
 color: #000000;
    font-size: 11px;
    position: absolute;
    right: -20px;
    top: -6px;
}

.white_mask .modak {
position:absolute;
background-image:url(../img/modak.png);
background-repeat:repeat-x;
left:45px;
bottom:4px;
width:27px;
height:30px;
}

.white_mask .add_collection {
position:absolute;
background-image:url(../img/add_collection.png);
background-repeat:repeat-x;
right:4px;
bottom:4px;
width:26px;
height:29px;
}

.at16nc.at16t_compact {
    background : none !important;
}

.page_item{
margin:0 5px;
padding:3px;
border-bottom:1px solid #CCCCCC;
list-style:none;
}

.info{
	background: #E6EFC2;
	border-color: #C6D880;
	padding:5px;
}
div.form .errorMessage
{
	color: red;
	font-size: 0.9em;
}

.photo_success {
    color:#0090E6;
    font-size:12px;
}

/************* Styling for comments ***********/

.single_comment{
    padding: 5px;
    margin-bottom:10px;
    background-color: #f0f8ff;
}
.single_comment abbr {
    font-size:11px;
}
.single_comment h4 {
    margin:0px;
    padding: 0px;
    font-size:12px;
    font-family: Verdana;
    color:#6495ed;
}
.single_comment p{
    font-family: cursive ;
    margin-bottom: 5px;
}

.mza{
margin:0 auto;
}

.black-mask{
	background:url(../img/topbg.png) no-repeat;
	height:27px;
	width:120px;
    position: absolute;
    left: 20px;
    top: 20px;
	font:12px;
	color:#FFFFFF;
	font-weight:bold;
}
.modakcnt{
background:url(../img/top_bar.png) no-repeat 0 0;
width:15px;
height:18px;
display:inline-block;
margin-right:22px;
margin-left:5px;
}

.darshancnt{
background:url(../img/top_bar.png) no-repeat -16px 0;
width:17px;
height:18px;
display:inline-block;
margin-right:22px;
}

.multishare{
background:url(../img/top_bar.png) no-repeat -33px 2px;
width:17px;
height:20px;
display:inline-block;
}

.cnt{
margin-left:18px;
}

.portlet-content a:hover{text-decoration:none !important;}
.menu-single a:hover{text-decoration:none !important;}

.inv-frm{
padding:10px 0;
}

.sitemap1{
float:left;
width:40%;
margin-left:10px;
}

.sitemap2{
float:left;
width:40%;
margin-left:30px;
}

.photo-opt{
background:#ffffff;
border:1px solid #cccccc;
height:40px;
}
.large-img{
  display: block;
  margin: 5px auto;
}

.single-photo{
background:#ffffff;
border:1px solid #cccccc;
margin:10px 0;
width:100%;
}
#modak-rating{
padding:6px;
float:left;
}

.visit-vw{
float:left;
margin:6px 20px;
font-size:16px;
font-weight:bold;
}
.feedmdk{
 float:left;
margin:6px 0;
font-size:14px;
font-weight:bold;
 }
 
.non-user-upld  a:hover{
text-decoration:none;
}
.share32{
width:32px;
height:32px;
display:inline-block;
}
.share32:hover{
cursor:pointer ;
}
.tw {
background-image:url(../img/twitter.png);
}
.tw:hover{
background-image:url(../img/twitter2.png);
}
.fb{
background-image:url(../img/facebook.png);
}
.fb:hover{
background-image:url(../img/facebook2.png);
}
.pi {
background-image:url(../img/pinterest.png);
}
.pi:hover{
background-image:url(../img/pinterest2.png);
}
.gg {
background-image:url(../img/google.png);
}
.gg:hover{
background-image:url(../img/google2.png);
}
.st {
background-image:url(../img/ShareThis.png);
}
.st:hover{
background-image:url(../img/ShareThis2.png);
}

.addthis_toolbox {
    margin: 5px;
}

.ui-widget-overlay {
    background: url(../img/fancybox_overlay.png) repeat scroll 0 0 transparent !important;
    opacity: 0.3;
}

.ui-dialog-titlebar {
    background: none repeat scroll 0 0 #666666;
    border: 1px solid #E1E1E1;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-dialog-title{
color: #FFFFFF;
}

.ui-dialog-content{

background: none repeat scroll 0 0 #F9F9F9 !important;
}
.fav-main{
margin:4px 20px;
}

.add-to-fav{
 background: url(../img/favourite-icon.png) no-repeat 0 0 transparent;
 width:22px;
 height:22px;
 cursor:pointer;
}

.rem-frm-fav{
 background: url(../img/favourite-icon.png) no-repeat -23px 0 transparent;
width:23px;
 height:22px;
 cursor:pointer;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-ads {
    text-align: center;
}

 .ui-tooltip, .arrow:after {
background: white;
border: 2px solid black;
}
.ui-tooltip {
padding: 10px 20px;
color: white;
border-radius: 20px;
font: bold 14px "Helvetica Neue", Sans-Serif;
text-transform: uppercase;
box-shadow: 0 0 7px black;
}
.arrow {
width: 70px;
height: 16px;
overflow: hidden;
position: absolute;
left: 50%;
margin-left: -35px;
bottom: -16px;
}
.arrow.top {
top: -16px;
bottom: auto;
}
.arrow.left {
left: 20%;
}
.arrow:after {
content: "";
position: absolute;
left: 20px;
top: -20px;
width: 25px;
height: 25px;
box-shadow: 6px 5px 9px -9px black;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
tranform: rotate(45deg);
}
.arrow.top:after {
bottom: -20px;
top: auto;
}